{% extends 'base.html' %}

{% block header %}
  <h1>Device {{meter}} - channel {{ channel }}</h1>
{% endblock %}

{% block content %}
  <table>
    <caption>Measurement values for {{meter}}:{{ channel }}</caption>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Value</th>
      <th scope="col">Unit</th>
    </tr>
  {% for value in measurements %}
    <tr>
        <td>{{ value[0] }}</td>
        {% if value[2] == "RH" %}
        <td class="tae">{{ value[1] }}%</td>
        {% else %}
        <td class="tae">{{ value[1] }}</td>
        {% endif %}
        <td>{{ value[2] }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
